@model IEnumerable<ProyectoInmobiliariaMVCPrimera_Entrega.Models.Inmueble>

@{
    ViewData["Title"] = "Index";
}

<h1>Inmueble</h1>

<p>
    <a asp-action="Create">Crear Inmueble</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.InmuebleId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Direccion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ambientes)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tipo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Costo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Superficie)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Latitud)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Longitud)
            </th>
            <th>
                @*@Html.DisplayNameFor(model => model.PropietarioId)*@
                Propietario
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.InmuebleId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Direccion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ambientes)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Tipo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Costo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Superficie)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Latitud)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Longitud)
            </td>
            <td>
                @*@Html.DisplayFor(modelItem => item.PropietarioId)*@
                @(item.Propietario.Nombre + " " + item.Propietario.Apellido) 
            </td>
            <td>
                @Html.ActionLink("Editar", "Edit", new { id=item.InmuebleId}) |
                @*@Html.ActionLink("Details", "Details", new { id=item.InmuebleId}) |*@
                @Html.ActionLink("Eliminar", "Delete", new {id=item.InmuebleId})
            </td>
        </tr>
}
    </tbody>
</table>
