@model IEnumerable<ProyectoInmobiliariaMVCPrimera_Entrega.Models.Alquiler>

@{
    ViewData["Title"] = "Index";
}
<div class="card bg-light border-primary">
    <div class="card-header bg-light">
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <a class="btn btn-primary" asp-action="Create">Crear alquiler</a>
            </div>
            <input type="text" class="form-control" id="inputBusquedaAlquiler" placeholder="Buscar alquiler..">
        </div>
    </div>
    <div class="card-body">
    
        <h5 class="card-title text-primary">Lista actual de alquileres</h5>

        <div class="row scrollspy-example" id="listAlquileres">

            @foreach (var item in Model)
            {
                <div class="col-md-3 contenedor">
                    <div class="card border-primary">
                        <img class="border-bottom border-primary w-100" src="https://images7.alphacoders.com/436/thumb-1920-436350.jpg">
                        @*<div class="card-header bg-transparent border-primary"> </div>*@
                        <div class="card-body">
                            <h5 class="card-title">@Html.DisplayFor(modelItem => item.inmueble.Direccion)</h5>

                            <p class="card-text">@Html.DisplayFor(modelItem => item.Descripcion)</p>

                            <div id="MM@(item.AlquilerId)" class="collapse">
                                <ul class="list-group">
                                    <li class="list-group-item">Costo:  @Html.DisplayFor(modelItem => item.inmueble.Costo)</li>
                                    <li class="list-group-item">
                                        Inquilino: @Html.DisplayFor(modelItem => item.inquilino.Nombre) @Html.DisplayFor(modelItem => item.inquilino.Apellido)
                                    </li>

                                </ul>




                            </div>
                            <div class="btn-group mt-3">                           
                                <button type="button" class="btn btn-sm btn-outline-secondary" data-toggle="collapse" data-target="#MM@(item.AlquilerId)">Ver más</button>
                                <a asp-action="Edit" asp-route-id="@item.AlquilerId" class="btn btn-outline-secondary"><i class="fas fa-edit"></i></a>
                                <a asp-action="Delete" asp-route-id="@item.AlquilerId" class="btn btn-outline-secondary"><i class="fas fa-minus-square"></i></a>
                            </div>
                            <div class="mt-2">
                                <span class="badge badge-primary">Casa @Html.DisplayFor(modelItem => item.inmueble.Tipo)</span>
                            </div>

                        </div>

                        <div class="card-footer bg-transparent border-primary">@Html.DisplayFor(modelItem => item.FechaAlta) Hasta @Html.DisplayFor(modelItem => item.FechaBaja)</div>
                    </div>

                </div>

            }
        </div>

    </div>
</div>

