@model IEnumerable<ProyectoInmobiliariaMVCPrimera_Entrega.Models.Alquiler>

@{
    ViewData["Title"] = "Index";
}
    <div class="card bg-light border border-primary">
        <div class="card-header border-bottom border-primary bg-light">
            <form class="card card-sm" asp-controller="Pagos" asp-action="Index" method="post">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <a class="btn btn-md btn-primary" data-tip="tooltip" data-placement="top" title="Agregar Vehículo">
                            <i class="fas fa-plus-circle fa-lg"></i>
                           
                        </a>
                    </div>

                    <input class="form-control border border-primary" name="dni" type="search" placeholder="DNI Inquilino.." aria-label="Buscar">

                    <div class="input-group-append">
                        <button class="btn btn-md btn-primary" type="submit" data-tip="tooltip" data-placement="top" title="Buscar Inquilino" href="">
                            <i class="fas fa-search fa-lg"></i>
                        </button>
                    </div>
                </div>
            </form>
        </div>
        <div class="card-body">

           

            @if (Model != null && Model.Count() != 0)
            {

        <div class="row scrollspy-example">
            <!-- Free Tier -->
            @foreach (var item in Model)
            {
                <div class="col-md-3 contenedor">
                    <div class="card border border-primary">
                        <img class="border-bottom border-primary w-100" src="https://images7.alphacoders.com/436/thumb-1920-436350.jpg">

                        <div class="card-body">
                            <h5 class="card-title">@Html.DisplayFor(modelItem => item.inmueble.Direccion)</h5>
                            <p class="card-text">@Html.DisplayFor(modelItem => item.Descripcion)</p>
                            <div id="MM@(item.AlquilerId)" class="collapse">
                                <ul class="list-group">
                                    <li class="list-group-item">
                                        Superficie: @Html.DisplayFor(modelItem => item.inmueble.Superficie)
                                    </li>
                                    <li class="list-group-item">
                                        Monto: @Html.DisplayFor(modelItem => item.Monto)
                                    </li>
                                    <li class="list-group-item">
                                        Costo:  @Html.DisplayFor(modelItem => item.inmueble.Costo)
                                    </li>
                                    <li class="list-group-item">
                                        Inquilino: @Html.DisplayFor(modelItem => item.inquilino.Nombre) @Html.DisplayFor(modelItem => item.inquilino.Apellido)
                                    </li>


                                </ul>
                            </div>

                            <div class="btn-group w-100">
                                <button type="button" class="btn btn-sm btn-outline-secondary" data-toggle="collapse" data-target="#MM@(item.AlquilerId)">Ver más</button>

                                <a asp-controller="Pagos" asp-action="Create" asp-route-id="@item.AlquilerId" class="btn btn-outline-secondary" data-tip="tooltip" data-placement="top" title="Realizar pago"><i class="fas fa-money-bill-alt fa-lg"></i></a>
                                <a asp-controller="Pagos" asp-action="ListaPago" asp-route-id="@item.AlquilerId" class="btn btn-outline-secondary" data-tip="tooltip" data-placement="top" title="Lista de pagos"><i class="fas fa-list-ol fa-lg"></i></a>

                            </div>
                                    
                        </div>
                        <div class="bg-primary text-center pt-3">
                            <ul class="list-unstyled list-inline font-small">
                                <li class="list-inline-item pr-2 white-text"><i class="far fa-calendar-check pr-2"></i>@Html.DisplayFor(modelItem => item.FechaAlta)</li>
                                <li class="list-inline-item pr-2 white-text"><i class="far fa-calendar-times pr-2"></i>@Html.DisplayFor(modelItem => item.FechaBaja)</li>                         
                            </ul>
                        </div>
                    </div>
                </div>
            }
        </div>
            }
        </div>
    </div>