@model IEnumerable<ProyectoInmobiliariaMVCPrimera_Entrega.Models.Propietario>

@{ ViewData["Title"] = "Index"; }


<div class="mt-auto">
    <div class="card bg-light border-primary mb-3">
        <div class="card-header bg-light">
            <a class="btn btn-primary text-white mr-2" asp-action="Create">Crear propietario</a>
        </div>
        <div class="card-body">
            <h5 class="card-title text-primary">Lista actual de propietarios</h5>
            <table class="table table-hover table-bordered">
                <thead class="table-danger">
                    <tr>
                        @*<th>
                    @Html.DisplayNameFor(model => model.PropietarioId)
                </th>*@
                        <th>
                            @Html.DisplayNameFor(model => model.Dni)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Nombre)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Apellido)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Email)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Telefono)
                        </th>

                        @*<th>
                    @Html.DisplayNameFor(model => model.Clave)
                </th>*@
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            @*<td>
                        @Html.DisplayFor(modelItem => item.PropietarioId)
                    </td>*@
                            <td>
                                @Html.DisplayFor(modelItem => item.Dni)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Nombre)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Apellido)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Email)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Telefono)
                            </td>

                            @*<td>
                        @Html.DisplayFor(modelItem => item.Clave)
                    </td>*@
                            <td>
                                @Html.ActionLink("Editar", "Edit", new { id = item.PropietarioId }) |
                                @Html.ActionLink("Eliminar", "Delete", new { id = item.PropietarioId })
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
    
</div>